/* colour scheme hex codes
0B2027 - charleston grey
40798C - teal blue
70A9A1 - green sheen
CFD7C7 - ash grey
F6F1D1 - cornsilk 
*/

html {
  color: #40798C;
  background-color: #F6F1D1;

}

/* Navbar component Styling */

.navBar_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F6F1D1;

}

.blurb {
  display: flex;
  flex-direction: column;
}

.navBar_button {
  border-style: none;
  background-color: #F6F1D1;
}

button {
  background-color: #F6F1D1;
  border-style: none;
}

img {
  background-color: #F6F1D1;
  width: 75px;
  height: 75px;

}

/* To-Do List Styling */

.toDoList_Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoList_Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoList_Items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add job component styling  */

.add_job_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.jobInput {
  color: #40798C;
  background-color: #F6F1D1;
  border-color: #40798C;
  border-radius: 5px;
  padding: 5%;
  border-style: solid;
}

.submitJobButton {
  color: #40798C;
  border-style: solid;
  border-color: #40798C;
  border-radius: 5px;
}

/* Individual Job Styling */

.job_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.job_text_complete {
  text-decoration: line-through;
}

.job_buttons {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
}

.completeJobButton {
  color: #40798C;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #40798C;
  border-radius: 50%;
}

.deleteJobButton {
  color: #40798C;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #40798C;
  border-radius: 50%;
}

.editJobButton {
  height: 30px;
  color: #40798C;
  border-style: solid;
  border-color: #40798C;
  border-radius: 3px;
}